




/* default */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
body {
  padding: 0;
  margin: 0;
  font-family: "Georgia";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
  padding: 0 .3em;
  margin: 0;
}
h1 {
  background: rgba(0,50,100,0.9);
  color: rgba(250,250,250,0.8);
}
h1 a {
  color: rgba(250,250,250,0.8);
}
.underline {
  border-bottom: 1px solid green;
}


/* in use - debate **/
.styles {
  margin: 0em auto 1em auto;
  width: 1000px;
}
.styles h2 {
  background: rgba(0,50,100,0.7);
}

.level2 { margin-left: 3em; display : inline-block;  display: block; }




/* keep */

blockquote {
  margin: .3em 2em;
  padding: .2em 1em .5em 1em;
  border: 1px solid rgba(0,0,0,0.021);
  background: rgba(0,0,0,0.021);
}


ul {
  list-style: none;
}

/* convert to class */

#header {
  color: black;
  border: 1px solid #dd44dd;
}
#header .navigation {
  font-size: 12px;
}
#header .navigation a {
  border-bottom: 1px solid green;
}
#header .logo {
  width: 300px;
}
#header .logo :hover {
  text-decoration: none;
}





/* redo design */ 


input[type=submit],
input[type=reset] {
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold; 
  background: #3498db;
  padding: 8px 15px 9px 14px;
  border: solid #1f628d 1px;
  text-decoration: none;
}
input[type=submit]:hover,
input[type=reset]:hover {
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #34db98;
  padding: 8px 15px 9px 14px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

button,
.btn {
  border-radius:  8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 8px 15px 9px 14px;
  border: solid #1f628d 1px;
  text-decoration: none;
}
button:hover,
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top,#3cb0fd,#3498db);
  background-image: -moz-linear-gradient(top,#3cb0fd,#3498db);
  background-image: -ms-linear-gradient(top,#3cb0fd,#3498db);
  background-image: -o-linear-gradient(top,#3cb0fd,#3498db);
  background-image: linear-gradient(to bottom,#3cb0fd,#3498db);
  text-decoration: none;
}






/* removed from here down */
